<section class="index-page">
  {{!-- <p class="success">
    You have been successfully logged in!
  </p> --}}
  <img class="avatar" src="{{avatar}}" alt="photos"></img>
  <h2>Hello {{name}} !</h2>
  <div class='links-wrapper'>
    <a class='link' href="/user/profile">Profile</a>
    <a class='link' href="/auth/logout">Log out</a>
  </dvi>
</section>